

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

  html {
    @apply scroll-smooth;
  }


  body {
    @apply font-['Poppins'];
    overflow-y: overlay;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 100%;
  }
}